torch==2.2.2
numpy<2
sentence-transformers==3.0.1
qdrant-client
jupyter
ipykernel
pandas
rich
rich-theme-manager
dotenv
openai
altair
vegafusion>=2.0.3
pyarrow
einops
tabulate
datasets
matplotlib
seaborn
semantic_chunkers
semantic_router
bm25s
PyStemmer
pdf2image
stamina